# Objective

Track my workout data for a period of time and notice trends, improvements and overall see pretty data for something I enjoy.

# How to get it organized:
### Yoga
- Track date and time of day, duration in minutes, style, workout level, body focus for each workout.
- The data can be retrieved from Down Dog app logs (which provide nearly all the data) + Google Fit app (which provides the date and time of day data).

### Running
- Track date and time of day, location, duration in minutes, total distance, average rhythm, time for every 500 meters, rhythm at every 500 meters, calories burned, time at first stop to walk. 
- The data can be retrieved entirely from Runkeeper app logs.

# To do:
- Gather data manually, use only this month's workouts: *Up to date!*

# Possible additions:
Discord bot to add new workouts, display summary of workouts, plan workouts and set reminders.

**Imports**

In [86]:
import datetime
import pandas as pd
import numpy as np

In [87]:
df_run = pd.DataFrame(np.array([['2021-02-04T19:54Z', 'Plaza Condell', 20.96, 2.53, 8.28, 3.4, 7.3, 12.05, 16.66, 20.85, 154], ['2021-02-06T18:27Z', 'Plaza Condell', 24.33, 2.87, 8.46, 3.36, 7.2, 12.12, 16.27, 21.12, 177]]),
                                columns=['Time', 'Location', 'TotalDuration', 'TotalDistance', 'AverageRhythm', 'Time1st500m', 'Time2nd500m', 'Time3rd500m', 'Time4th500m', 'Time5th500m', 'Calories'])
df_run.Time = pd.to_datetime(df_run.Time)
df_run

,Time,Location,TotalDuration,TotalDistance,AverageRhythm,Time1st500m,Time2nd500m,Time3rd500m,Time4th500m,Time5th500m,Calories
0,2021-02-04 19:54:00+00:00,Plaza Condell,20.96,2.53,8.28,3.4,7.3,12.05,16.66,20.85,154
1,2021-02-06 18:27:00+00:00,Plaza Condell,24.33,2.87,8.46,3.36,7.2,12.12,16.27,21.12,177

In [18]:
df_yoga = pd.DataFrame(np.array([['2021-02-01T23:18Z', 30, 'Restaurative Yoga', 'Intermediate', 'Back strengthening'], ['2021-02-02T20:09Z', 30, 'Hatha Yoga', 'Intermediate', 'Back strengthening'], ['2021-02-03T22:37Z', 30, 'Full practice', 'Intermediate', 'Back strengthening'], ['2021-02-05T21:36Z', 30, 'Ashtanga', 'Intermediate', 'Traditional']]),
                      columns=['Time', 'TotalDuration', 'Style', 'DifficultyLevel', 'BodyFocus'])
df_yoga.Time = pd.to_datetime(df_yoga.Time)
df_yoga

,Time,TotalDuration,Style,DifficultyLevel,BodyFocus
0,2021-02-01 23:18:00+00:00,30,Restaurative Yoga,Intermediate,Back strengthening
1,2021-02-02 20:09:00+00:00,30,Hatha Yoga,Intermediate,Back strengthening
2,2021-02-03 22:37:00+00:00,30,Full practice,Intermediate,Back strengthening
3,2021-02-05 21:36:00+00:00,30,Ashtanga,Intermediate,Traditional

In [88]:
df_run = df_run.append(pd.Series(['2021-02-08T19:41Z', 'Plaza Condell', 26.8, 3.04, 8.49, 3.95, 7.9, 12.02, 17.33, 21.88, 180], index=df_run.columns), ignore_index=True)
df_run

,Time,Location,TotalDuration,TotalDistance,AverageRhythm,Time1st500m,Time2nd500m,Time3rd500m,Time4th500m,Time5th500m,Calories
0,2021-02-04 19:54:00+00:00,Plaza Condell,20.96,2.53,8.28,3.4,7.3,12.05,16.66,20.85,154
1,2021-02-06 18:27:00+00:00,Plaza Condell,24.33,2.87,8.46,3.36,7.2,12.12,16.27,21.12,177
2,2021-02-08T19:41Z,Plaza Condell,26.8,3.04,8.49,3.95,7.9,12.02,17.33,21.88,180

In [89]:
df_run.insert(10, 'Time6th500m', [np.NaN, np.NaN, 26.8])

In [90]:
df_run.insert(0, 'id', [1, 2, 3])

In [91]:
df_run.Time = pd.to_datetime(df_run.Time, utc=True)
df_run

,id,Time,Location,TotalDuration,TotalDistance,AverageRhythm,Time1st500m,Time2nd500m,Time3rd500m,Time4th500m,Time5th500m,Time6th500m,Calories
0,1,2021-02-04 19:54:00+00:00,Plaza Condell,20.96,2.53,8.28,3.4,7.3,12.05,16.66,20.85,NaN,154
1,2,2021-02-06 18:27:00+00:00,Plaza Condell,24.33,2.87,8.46,3.36,7.2,12.12,16.27,21.12,NaN,177
2,3,2021-02-08 19:41:00+00:00,Plaza Condell,26.8,3.04,8.49,3.95,7.9,12.02,17.33,21.88,26.8,180